*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body
{
	background: radial-gradient(#666,#000);
	font-size: 1.2rem;
	color: #F9F9F9;
	width: 50%;
	margin: 2px auto;
	padding: 2rem;
	min-height: 50vh;
	text-align: center;
}